###
### Apps signed with the platform key.
###

type platform_app, domain;
allow platform_app default_android_service:service_manager find;
allow platform_app self:fifo_file ioctl;
